#footer {
    padding: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-top: 50px;
}

#footer p:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    #footer h6{
        font-size: small;
    } 
    #footer div p{
        font-size: x-small;
    }
}